body, html 
{
    height: 100%;
    margin: 0;
}

body
{
    background-color: #ecf0f1;
}

footer, footer a
{
    color: white;
}

.footer-bottom
{
    background: #3d6277;
    padding: 2em;
}

.footer-middle
{
    background: #3d6277;
    padding-top: 2em;
    color: white;
}

#modalImg 
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.line-break 
{
    word-wrap: break-word !important;
    white-space: normal !important;
}

.galModal 
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);

}

.galModal-content 
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#galModalCaption 
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.galModal-content,
#galModalCaption 
{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom 
{
    from 
    {
        -webkit-transform: scale(0)
    }
    to 
    {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom 
{
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close 
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus 
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) 
{
    .galModal-content 
    {
        width: 100%;
    }
}

#cookies_policy_holder 
{
    /* background: #74b9ff; */
    background: #3d6277;
}

#cookies_policy 
{
    padding: 10px 10px 15px 10px;
    margin: 0 auto;
}

#cookies_policy .title 
{
    font-size: 16px;
    color: white;
}

#cookies_policy .message 
{
    font-size: 13px;
    color: white;
    margin-bottom: 8px;
}


#cookies_policy a:hover 
{
    background-color: #4775a0bb;
    color: #e1e1e1;
}